   <!-- HEADER -->
    <nav class="navbar navbar-fixed-top header" role="navigation">
      <div class="container-fluid">
      <table width="100%">
        <tr>
          <td width="25%">
            <!-- Single button -->
            <div class="btn-group">
              <img src="images/icons/main-menu.png" width="30" class="header-btn" data-toggle="dropdown" />
              <ul class="dropdown-menu" role="menu">
                <!-- <li><a href="camera.html"><i class="fa fa-list-alt"></i>Camera </a></li> -->
                <li><a href="feed.html"><i class="fa fa-list-alt"></i>News Feed </a></li>
                <li><a href="profile.html"><img src="images/icons/profile.png" width="20"/> Profile</a></li>
                <li><a href="search.html"><img src="images/icons/search.png" width="20"/> Search</a></li>
                <li><a href="explore.html"><img src="images/icons/trend.png" width="20"/> Trends</a></li>
                <li><a href="settings.html"><img src="images/icons/settings.png" width="20"/> Settings</a></li>
                <li><a href="logout.html"><i class="fa fa-sign-out"></i> Logout</a></li>
              </ul>
            </div>
          </td>
        <td width="50%">
          <div align="center"><img src="images/fc-small.png" align="center" width="100"/></div>
        </td>
        <td width="25%">
          <!-- <a class="dropdown-toggle" data-toggle="dropdown"><img src="images/icons/fc-icon.png" width="30" align="right"></a> -->
          <a href="create-post.html"><img src="images/icons/fc-icon.png" width="30" align="right"></a>
        <!-- <ul class="dropdown-menu fc-dropdown">
          <li><a href="#" class="capture_photo" onclick="capturePhoto();"><i class="fa fa-camera-retro"></i>Capture</a></li>
          <li><a href="#" class="library_photo"><i class="fa fa-picture-o"></i>Library</a></li>
        </ul> -->
        </td>
        </tr>
      </table>
    </div>
    </nav>
    <script type="text/javascript" src="js/index.js"></script>
