<!-- IMAGE FILTER -->
    <div id="filter_wrapper" class="container">
    	<!-- FILTER NAV -->
    	<div class="container">
	    	<nav id="filter_nav" class="navbar navbar-fixed-top header" role="navigation">
		    	<div class="nav_options">
				<!-- Single button -->
					<a href="feed.html" class="first">
						<button type="button" class="btn btn-large cancel" aria-label="Left Align">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</a>
		            <button type="button" class="btn btn-large brightness" aria-label="Left Align">
						<span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-large contrast" aria-label="Left Align">
						<span class="glyphicon glyphicon glyphicon-tint" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-large last save_image" aria-label="Left Align">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					</button>
		    	</div>
		    </nav>
    	</div>
    	
    	<!-- FILTER IMAGE -->
    	<div id="image_wrapper" class="container">
    		<canvas id="image"></canvas>
    	</div>
    	
	    <!-- IMAGE FILTER BTNS-->
	    <div class="filter-options container">
		    <div class="advanced_options">
		    	<div class="brightness_filter">
		    		<div class="filter_title">Brightness</div>
	      			<div class="filter_setting">
				        <input
				          type="range" 
				          min="-100"
				          max="100"
				          step="1"
				          value="0"
				          data-filter="brightness"
				        >
	      			</div>
	    		</div>
	    		<div class="contrast_filter">
	    			<div class="filter_title">Contrast</div>
	      			<div class="filter_setting">
				        <input
				          type="range" 
				          min="-100"
				          max="100"
				          step="1"
				          value="0"
				          data-filter="contrast"
				        >
	      			</div>
	    		</div>
		    </div>
	    	<div class="preset_options">
		    	<ul>
		            <li>
		            	<a class="normal first" href="#" role="button">
		            		<div class="filter_icon">
		            			<img src='images/icons/filter-effect.png'>
		            		</div>
		            		<span>Normal</span>
		            	</a>
		            </li>
		            <li>
		            	<a class="greyscale" href="#" role="button">
			            	<div class="filter_icon">
			            		<img src='images/icons/filter-effect.png'>
			            	</div>
			            	<span>Greyscale</span>
		            	</a>
		            </li>
		            <li>
		            	<a class="sephia" href="#" role="button">
		            		<div class="filter_icon">
		            			<img src='images/icons/filter-effect.png'>
		            		</div>
		            		<span>Sephia</span>
		            	</a>
		            </li>
		            <li>
		            	<a class="invert" href="#" role="button">
			            	<div class="filter_icon">
			            		<img src='images/icons/filter-effect.png'>
			            	</div>
			            	<span>Invert</span>
		            	</a>
		            </li>
		            <li>
		            	<a class="exposure last" href="#" role="button">
		            		<div class="filter_icon">
		            			<img src='images/icons/filter-effect.png'>
		            		</div>
		            		<span>Exposure</span>
		            	</a>
		            </li>
		            <li>
		            	<a class="nostalgia last" href="#" role="button">
		            		<div class="filter_icon">
		            			<img src='images/icons/filter-effect.png'>
		            		</div>
		            		<span>Nostalgia</span>
		            	</a>
		            </li>
		        </ul>
	        </div>
	    </div>
</div>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="js/contrib/camanjs/caman.full.min.js"></script>